$color-bg-white: #ffffff;
$color-bg-light: #f8f9fa;
$color-bg-dark: #f7f8f9;
$color-bg-table: #f0f3f7;

$color-border: #e0e5eb;

$color-txt-black: #1f2939;
$color-txt-main: #1d2432;
$color-txt-add: #5e6674;
$color-txt-secondary: #697180;

$color-btn-dark: #f2f5f8;
$color-btn-border: #ced5de;
$color-btn-disabled: #9da6b4;
$color-btn-accent: #fee3e3;
$color-btn-accent-hover: #fed7d7;
$color-icon-accent: #c53030;

$font-ff-main: 'Roboto', 'Tahoma', 'Helvetica', sans-serif;
$font-size-main: 14px;
$font-size-add: 13px;
$font-size-title: 24px;

$box-container: 1440px;
$box-gutter-main: 16px;
